[submodule "orgs/go"]
	path = orgs/go
	url = https://github.com/adoublef-go/.github
[submodule "orgs/cpp"]
	path = orgs/cpp
	url = https://github.com/adoublef-cpp/.github
[submodule "orgs/hs"]
	path = orgs/hs
	url = https://github.com/adoublef-hs/.github
[submodule "orgs/js"]
	path = orgs/js
	url = https://github.com/adoublef-js/.github
[submodule "orgs/ml"]
	path = orgs/ml
	url = https://github.com/adoublef-ml/.github
[submodule "orgs/py"]
	path = orgs/py
	url = https://github.com/adoublef-py/.github
[submodule "orgs/rs"]
	path = orgs/rs
	url = https://github.com/adoublef-rs/.github
[submodule "orgs/jvm"]
	path = orgs/jvm
	url = https://github.com/adoublef-jvm/.github
[submodule "orgs/php"]
	path = orgs/php
	url = https://github.com/adoublef-php/.github
[submodule "orgs/cs"]
	path = orgs/cs
	url = https://github.com/adoublef-cs/.github
